
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #d1d5db; 
    font-size: 0.875rem;
  
    .nav {
      display: flex;
      justify-content: space-around;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .walletContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: -0.5rem;
    }
  
    .walletIcon {
      position: absolute;
      top: -2.5rem; 
      width: 5rem;
      height: 5rem; 
      background-color: #08B783;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  
      img {
        width: 1.5rem;
        height: 1.5rem; 
      }
    }
  
    .walletText {
      color: #08B783;
      margin-top: 2rem; 
    }
  }