
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #d1d5db; // Equivalent to border-gray-300
    font-size: 0.875rem; // Equivalent to text-sm
  
    .nav {
      display: flex;
      justify-content: space-around;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .walletContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: -0.5rem; // Equivalent to -ml-2
    }
  
    .walletIcon {
      position: absolute;
      top: -2.5rem; // Equivalent to -top-10
      width: 5rem; // Equivalent to w-20
      height: 5rem; // Equivalent to h-20
      background-color: #08B783;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  
      img {
        width: 1.5rem; // Equivalent to w-6
        height: 1.5rem; // Equivalent to h-6
      }
    }
  
    .walletText {
      color: #08B783;
      margin-top: 2rem; // Equivalent to mt-8
    }
  }