// SVG.module.scss

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .icon {
      width: 1.5rem; 
      height: 1.5rem; 
    }
  
    .text {
      margin-top: 0.25rem; 
      font-size: 0.875rem; 
    }
  }