// SVG.module.scss

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .icon {
      width: 1.5rem;  // Equivalent to w-6
      height: 1.5rem; // Equivalent to h-6
    }
  
    .text {
      margin-top: 0.25rem; // Adding a small space between icon and text
      font-size: 0.875rem; // Suggested text size, adjust as needed
    }
  }