@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #008955;
  --color-secondary: #08b783;
  --font-color-primary: #414141;
  --font-color-secondary: #a0a0a0;
  --color-secondary-hover: #06a374;
  --color-primary-hover: #007744;
  --font-color-primary-hover: #313131;
  --font-color-secondary-hover: #909090;
}
