// ProfilePage.module.scss

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    gap: 2.5rem;
    position: relative;
  }
  
  .profilePicture {
    position: relative;
    min-height: 120px;
    min-width: 120px;
    background-color: #d1d5db;
    border-radius: 9999px;
  
    .cameraIcon {
      position: absolute;
      bottom: 0.25rem;
      right: 0.25rem;
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--color-primary);
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      svg {
        stroke: white;
      }
    }
  }
  
  .formContainer {
    width: 100%;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .phoneInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0 1rem;
    height: 60px;
  
    .flag {
      margin-right: 0.5rem;
      height: 1.5rem;
      border-radius: 0.375rem;
    }
  
    .divider {
      border-right: 1px solid #d1d5db;
      height: 1rem;
      margin-right: 0.5rem;
    }
  
    .countryCode {
      margin-right: 0.5rem;
    }
  
    input {
      flex: 1;
      border: none;
      padding: 0.5rem;
      width: 100%;
  
      &:focus {
        outline: none;
      }
    }
  }
  
  .select {
    appearance: none;
    padding-right: 2rem;
    background-repeat: no-repeat;
    margin-top: 0.25rem;
    width: 100%;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0 1rem;
    height: 60px;
    color: #9ca3af;
  }
  
  .buttonContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 28rem;
  }
  
  .cancelButton {
    border: 1px solid #008955;
    border-radius: 0.375rem;
  }
  
  .saveButton {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid #008955;
    border-radius: 0.375rem;
  }